<% wrap_layout :default do %>
  <div class="content right-70 post">
    <% if current_page.data.include? :title %>
      <h2 class="title"><%= current_page.data.title %></h2>
    <% end %>
    <% if current_page.data.include? :date %>
      <h4 class="date">
        <% if current_page.data.date.class == Date %>
          <%= current_page.data.date.strftime('%b %e') %>
        <% else %>
          <%= Date.parse(current_page.data.date).strftime('%b %e') %>
        <% end %>
      </h4>
    <% end %>
    <%= yield %>
  </div>

  <div class="sidebar left-30 post">
    <h2>Recent Articles</h2>
    <ul>
      <% blog.articles[0...10].each do |article| %>
        <li><%= link_to article.title, article %></li>
      <% end %>
    </ul>

    <h2>Tags</h2>
    <ul>
      <% blog.tags.each do |tag, articles| %>
        <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
      <% end %>
    </ul>

    <h2>By Year</h2>
    <ul>
      <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
      <% end %>
    </ul>
  </div> <!-- /sidebar left-30 -->
<% end %>
