<!DOCTYPE html>
<html domain="http://vna.rs-us.net">

<%= partial 'partials/head' %>

<body>
  <div class="page-box">

  	<%= partial 'partials/header' %>
  	<%= partial 'partials/navigation' %>

    <%= yield %>

    <%= partial 'partials/footer' %>

  </div>
</body>

</html>
