---
layout: default
navigation_tab: blog
include_resize: true
---

<% wrap_layout :default do %>
<div class="content right-70">
  <ul class="posts">
    <% data.posts.each do |post| %>
      <% if post.categories.include?(page.selected_category) %>
        <li>
          <a href="<%= post.url | prepend: site.baseurl %>">
          <h3><%= post.title %></h3>
          <span class="meta"><%= post.date | date: "%b %-d, %Y" %></span>
          <br />
          <span class="meta">
          Categories: <%= post.categories.join(", ") %>
          </span>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= partial 'includes/categories_sidebar' %>
<% end %>
